body {
  font: 'Roboto';
  color: whitesmoke;
  background-color: #232529;
}

.footer {
  padding: 10px;
}

.footer > hr {
  color: whitesmoke;
  border-radius: 2px;
}

.navigation {
  z-index: 4;
}

.navigation > ul {
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #1a1e24;
  text-align: left;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  height: 40px;
}

.navigation ul {
  list-style-type: none;
  padding: 10px;
}

.navigation li {
  float: left;
  padding: 5px 10px;
}

.navigation a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav_icon {
  margin-bottom: -2px;
}

.home_icon {
  font-size: xx-large;
  margin-top: -2px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown ul {
  position: absolute;
  box-shadow: 0 0 0 0;
  background-color: #333536;
  top: 60px;
  height: fit-content;
  border-radius: 0 0 10px 10px;
  z-index: 3;
}

.dropdown li {
  float: none;
  padding-bottom: 10px;
  width: fit-content;
  max-width: 50vw;
}

.dropdown_button {
  font-size: 20px;
  cursor: pointer;
}

.menu_button {
  float: right !important;
  font-size: x-large;
  cursor: pointer;
  display: none;
}

.small_nav {
  display: none;
  overflow: hidden;
}

.small_nav > ul {
  position: absolute;
  background-color: #333536;
  top: 60px;
  width: calc(100% - 20px);
  left: 0;
  border-radius: 0 0 15px 15px;
  z-index: 3;
  height: fit-content;
}

.small_nav > ul > li {
  float: none;
}

.menu_dropdown > ul {
  background-color: transparent;
  height: fit-content;
  margin-left: 15px;
  margin-top: -10px;
}

.menu_dropdown li {
  float: none;
}

@media screen and (max-width: 450px) {
  .small_nav {
    display: block
  }
  .menu_button {
    display: block;
  }
  .big_nav {
    display: none
  }
}