body {
  font: 'Roboto';
  color: whitesmoke;
  background-color: #2a2a2a;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #1d1c20;
  text-align: left;
}

.navigation li {
  float: left;
  padding: 5px 10px;
}

.navigation a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

