body {
  font: 'Roboto';
  color: whitesmoke;
  background-color: #232529;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #1a1e24;
  text-align: left;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  height: 40px;
}

.navigation li {
  float: left;
  padding: 5px 10px;
}

.navigation a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navIcon {
  margin-bottom: -2px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown ul {
  position: absolute;
  box-shadow: 0 0 0 0;
  background-color: #333536;
  top: 60px;
  height: fit-content;
  border-radius: 0 0 10px 10px;
}

.dropdown li {
  float: none;
  padding-bottom: 10px;
  width: fit-content;
  max-width: 50vw;
}

.dropdown_button {
  font-size: 20px;
  cursor: pointer;
}